@page
@model StartScreen.Template_start_screenModel
@{
}
    <html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
        <link href="./start-screen.css" rel="stylesheet" />
    </head>
    <body>
        <div id="start-screen">
            <div class="top-section">
                <div class="top-icon">
                    <img src="image/fiat_icon.svg" alt="" />
                </div>
                <div class="greeting-phrase">CENTRAL DE SERVIÇOS FIAT.</div>
                <div class="close-button">
                    <img close-start-screen="true" src="image/close_button.svg" alt="" />
                </div>
            </div>
            <div class="start-screen-content">
                @ViewBag.Template
            </div>
            <div id="bottom-section" rel="bookmark">
                <div class="bottom-content">
                    <img src="image/vector.svg" class="scroll-image"><span class="scroll-phrase">DESLIZE PARA MAIS OPÇÕES</span>
                </div>
            </div>
        </div>
    </body>
    </html>
